.footer-main-wrapper {
    .footer-head {
        font-weight: 700;
    }
    .footer-para {
        font-size: $font-size + 2px;
        font-weight: 500;
        line-height: 28px;
    }
    .social {
        list-style: none;
        font-size: 0;
        text-align: center;
        margin: 0 0 100px;
      
        &-icon {
          display: inline-block;
          vertical-align: middle;
          margin-right: 20px;
      
          &:last-child {
            margin-right: 0;
          }
        }
      }
      
}