.ulvert-list {
    text-align: center;
  
    &-list {
      list-style: none;
      margin: 0;
      margin-bottom: 42px;
      padding: 0;
    }
  
    &-item {
      display: inline-block;
      vertical-align: middle;
  
      &:last-child {
        .ulvert-list-link {
          margin-right: 0;
          &::before {
            display: none;
          }
        }
      }
    }
    &-link {
      position: relative;
      margin-right: 56px;
      font-size: 20px;
      text-decoration: none;
      text-transform: uppercase;
      color: inherit;
      font-weight: 700;
  
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        margin-right: -30px;
        margin-top: -2px;
        width: 6px;
        height: 3px;
        background-color: $main-color;
      }
    }
  }

  @media (max-width: 767px) {
    .ulvert-list {
        text-align: center;
      
        &-list {
          list-style: none;
          margin: 0;
          margin-bottom: 42px;
          padding: 0;
        }
      
        &-item {
          display:block !important;
      
          &:last-child {
            .ulvert-list-link {
              margin-right: 0;
              &::before {
                display: none;
              }
            }
          }
        }
        &-link {
margin-right:0px !important;
      
          &::before {
            display:none !important;
          }
        }
      }

}