@mixin background-tab() {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 350px;
    transition: all 0.5s ease;
    &:hover {
        transition: all 0.5s ease;
        cursor:pointer;
        background-color: rgba(0,0,0,.5);
    }
    &:before {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background-color: inherit;
        content: ' ';
    }
}

@mixin background-image() {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 436px;
    &:hover {
        transition: all 0.5s ease;
        cursor:pointer;
        background-color: rgba(0,0,0,.5);
    }
    &:before {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background-color: inherit;
        content: ' ';
    }
}