@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap");
@media (max-width: 627px) { .article-three-head2 { font-size: 34px !important; } }

@media (max-width: 1020px) { .banner-title { font-size: 40px !important; }
  .main-wrapper .banner-link-scroll { -webkit-transform: rotate(-360deg) !important; display: block !important; bottom: -44px !important; left: 34px !important; } }

@media (max-width: 378px) { .newsletter-banner-title { font-size: 30px !important; } }

.ulvert-list { text-align: center; }

.ulvert-list-list { list-style: none; margin: 0; margin-bottom: 42px; padding: 0; }

.ulvert-list-item { display: inline-block; vertical-align: middle; }

.ulvert-list-item:last-child .ulvert-list-link { margin-right: 0; }

.ulvert-list-item:last-child .ulvert-list-link::before { display: none; }

.ulvert-list-link { position: relative; margin-right: 56px; font-size: 20px; text-decoration: none; text-transform: uppercase; color: inherit; font-weight: 700; }

.ulvert-list-link::before { content: ""; display: block; position: absolute; top: 50%; right: 0; margin-right: -30px; margin-top: -2px; width: 6px; height: 3px; background-color: black; }

@media (max-width: 767px) { .ulvert-list { text-align: center; }
  .ulvert-list-list { list-style: none; margin: 0; margin-bottom: 42px; padding: 0; }
  .ulvert-list-item { display: block !important; }
  .ulvert-list-item:last-child .ulvert-list-link { margin-right: 0; }
  .ulvert-list-item:last-child .ulvert-list-link::before { display: none; }
  .ulvert-list-link { margin-right: 0px !important; }
  .ulvert-list-link::before { display: none !important; } }

@-webkit-keyframes fadeInDown { from { opacity: 0;
    -webkit-transform: translatey(-10px);
    transform: translatey(-10px); }
  to { opacity: 1;
    -webkit-transform: translatey(0);
    transform: translatey(0); } }

@keyframes fadeInDown { from { opacity: 0;
    -webkit-transform: translatey(-10px);
    transform: translatey(-10px); }
  to { opacity: 1;
    -webkit-transform: translatey(0);
    transform: translatey(0); } }

.in-down { -webkit-animation-name: fadeInDown; animation-name: fadeInDown; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-duration: 1s; animation-duration: 1s; }

img { -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

img:hover { -webkit-transition: all 0.5s ease; transition: all 0.5s ease; -webkit-filter: grayscale(100%); filter: grayscale(100%); }

.header-wrapper-class .navbar { font-family: "Open Sans", sans-serif; width: 100%; min-height: 4rem; background: white; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.header-wrapper-class .navbar .company-logo { max-width: 116px; }

@media (max-width: 1191px) { .header-wrapper-class .navbar { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; padding: 0; width: 100%; } }

.header-wrapper-class .navbar .row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

@media (max-width: 1191px) { .header-wrapper-class .navbar .row { width: 100%; } }

.header-wrapper-class .navbar button { cursor: pointer; background: white; border: none; outline: none; font-size: 1rem; margin-right: 2rem; }

@media (max-width: 1191px) { .header-wrapper-class .navbar button { height: 4rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: center; flex-direction: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

.header-wrapper-class .navbar .menu-btn { margin-right: 0; padding-right: 0.625rem; }

@media (min-width: 1191px) { .header-wrapper-class .navbar .menu-btn { display: none; } }

.header-wrapper-class .navbar .tab { color: black; font-weight: 600; border-bottom: 3px solid white; }

.header-wrapper-class .navbar .tab:hover { border-bottom: 3px solid black; }

.header-wrapper-class .navbar .tab:nth-last-child(1) { margin-right: 0; }

@media (max-width: 1191px) { .header-wrapper-class .navbar .tabs { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
  .header-wrapper-class .navbar .tabs.hidden { display: none; } }

.footer-main-wrapper .footer-head { font-weight: 700; }

.footer-main-wrapper .footer-para { font-size: 14px; font-weight: 500; line-height: 28px; }

.footer-main-wrapper .social { list-style: none; font-size: 0; text-align: center; margin: 0 0 100px; }

.footer-main-wrapper .social-icon { display: inline-block; vertical-align: middle; margin-right: 20px; }

.footer-main-wrapper .social-icon:last-child { margin-right: 0; }

.main-wrapper .article-tab h1 { text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.52); color: white; font-weight: 700; letter-spacing: 6px; font-size: 57px; }

.main-wrapper .article-tab .tab-1 { position: relative; background-position: center center; background-repeat: no-repeat; background-size: cover; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; min-height: 350px; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; background-image: url("../images/tab-1-bg.png"); }

.main-wrapper .article-tab .tab-1:hover { -webkit-transition: all 0.5s ease; transition: all 0.5s ease; cursor: pointer; background-color: rgba(0, 0, 0, 0.5); }

.main-wrapper .article-tab .tab-1:before { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: inherit; content: ' '; }

.main-wrapper .article-tab .tab-2 { position: relative; background-position: center center; background-repeat: no-repeat; background-size: cover; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; min-height: 350px; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; background-image: url("../images/tab-2-bg.png"); }

.main-wrapper .article-tab .tab-2:hover { -webkit-transition: all 0.5s ease; transition: all 0.5s ease; cursor: pointer; background-color: rgba(0, 0, 0, 0.5); }

.main-wrapper .article-tab .tab-2:before { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: inherit; content: ' '; }

.main-wrapper .article-tab .tab-3 { position: relative; background-position: center center; background-repeat: no-repeat; background-size: cover; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; min-height: 350px; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; background-image: url("../images/tab-3-bg.png"); }

.main-wrapper .article-tab .tab-3:hover { -webkit-transition: all 0.5s ease; transition: all 0.5s ease; cursor: pointer; background-color: rgba(0, 0, 0, 0.5); }

.main-wrapper .article-tab .tab-3:before { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: inherit; content: ' '; }

.main-wrapper .newsletter-banner { position: relative; background-image: url("../images/newsletter.png"); background-position: center center; background-repeat: no-repeat; background-size: cover; }

.main-wrapper .newsletter-banner-btn { border: none; background-color: white; font-weight: 700; font-size: 12px; padding: 6px 34px; border-radius: 25px; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

.main-wrapper .newsletter-banner-btn:hover { -webkit-transition: all 0.5s ease; transition: all 0.5s ease; -webkit-box-shadow: 0px 0px 33px -9px rgba(0, 0, 0, 0.75); box-shadow: 0px 0px 33px -9px rgba(0, 0, 0, 0.75); color: white; background-color: #008aff; }

.main-wrapper .newsletter-banner-title { color: white; font-size: 43px; text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.52); font-weight: 600; }

.main-wrapper .main-banner { position: relative; background-position: center center; background-repeat: no-repeat; background-size: cover; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; min-height: 436px; background-image: url("../images/Banner.png"); }

.main-wrapper .main-banner:hover { -webkit-transition: all 0.5s ease; transition: all 0.5s ease; cursor: pointer; background-color: rgba(0, 0, 0, 0.5); }

.main-wrapper .main-banner:before { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: inherit; content: ' '; }

.main-wrapper .banner-title { color: white; font-weight: 700; font-size: 70px; text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.52); }

.main-wrapper .banner-link-scroll { display: block; position: absolute; bottom: 130px; left: -116px; -webkit-transform: rotate(-90deg); transform: rotate(-90deg); color: inherit; font-size: 18px; font-weight: 300; text-decoration: none; text-transform: uppercase; }

.main-wrapper .banner-link-scroll::after { content: ""; position: absolute; top: 50%; left: -24px; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); margin-top: -2px; margin-left: -3px; display: block; width: 4px; height: 4px; background-color: transparent; border-top: 1px solid black; border-left: 1px solid black; }

.main-wrapper .banner-link-scroll::before { content: ""; position: absolute; top: 50%; left: -26px; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); margin-top: -8px; margin-left: -8px; display: block; width: 16px; height: 16px; background-color: transparent; border-radius: 50%; border: 1px solid black; }

.main-wrapper .article-two-head { font-weight: 700; }

.main-wrapper .article-two-para { font-size: 14px; font-weight: 500; line-height: 28px; }

.main-wrapper .article-two-a { color: black; font-weight: 700; }

.main-wrapper .article-two-date { font-size: 18px; font-weight: 800; }

.main-wrapper .article-three-head2 { font-size: 64px; font-weight: 800; margin-top: 65px; letter-spacing: 6px; }

.main-wrapper .article-three-para { font-size: 14px; font-weight: 500; line-height: 28px; }

.main-wrapper .article-three-date { font-size: 18px; font-weight: 800; }

.main-wrapper .article-three-head { font-weight: 700; }

.main-wrapper .article-three-head .head1 { font-size: 35px; }

.main-wrapper .article-three-head .head2 { font-size: 40px; }
/*# sourceMappingURL=main-style.css.map */